doctype html
html(lang='en')
  include header.pug
  body
    include nav.pug
    //- container start –––––––––––––––––––––––––––––––––––

    .container#insights
      .hero
        img(src='../img/about_us/hero.png' width='auto' height='100%' alt='Hero')
        h1 About us
      .crumb
        a(href='#') Home
        a(href='') About us
      .content
      

    //- container end ––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    include footer.pug


