footer
	.above_line
		div
			a.logo(href='index.html')
				img(src='../img/global/Logo.svg' width='128px' height='auto' alt='')
			.address
				h5 Esquarre Capital Taiwan Branch Floor
				p Floor33, Taipei 101 Tower, No.7, Sec.5. Xinyi Road, 11049 Taipei,Taiwan R.O.C.
			.socials
				a(href='#')
					img(src='../img/global/icon_linkedin.png' width='40px' height='40px' alt='LinkedIn')
				a(href='#')
					img(src='../img/global/icon_email.png' width='40px' height='40px' alt='Email')
		div
			.sitemap
				ul 
					li About us
					li 
						a(href='about_us.html') About us
				ul 
					li Approach
					li
						a(href='approach.html') Our Approach
				ul 
					li Partners
					li
						a(href='partners.html') Ecosystem Partners
				ul
					li Insights
					li 
						a(href='news.html') News
					li 
						a(href='press_release.html') Press Release
					li 
						a(href='opinion.html') Opinion
				ul 
					li Branch
					li 
						a(href='insights.html') Global
					li 
						a(href='contact.html') Japan
	.under_line
		div
			a(href='legal.html') Legal Term of Use
			a(href='policy.html') Privacy Policy
		div
			p © 2023 Esquarre CapitalManagement
//- custom js
script(type='text/javascript' src="../js/interactive.js")
