head
  title Page title
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes")
  meta(name="description" content="#")
  meta(name="keywords" content="#")
  //- Facebook
  meta(property="og:type" content="article")
  meta(property="og:title" content="#")
  meta(property="og:description" content="#")
  meta(property="og:url" content="#")
  meta(property="og:site_name" content="#")
  meta(property="og:image" content="#")
  script(type='text/javascript' src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  //- interactive.js is in footer.pug
  link(rel="icon" href="../img/Global UI/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" type="text/css" href="../css/reset.css")
  link(rel="stylesheet" type="text/css" href="../css/global.css")
  //- plugin js
 
 
  //- 預載 icon hover 背景圖片，避免背景圖初次載入時造成的閃白 ––––––––––––––––––––––––––––
  link(rel='preload' as='image' href='../img/Menu/fb-hover.svg')
  

