doctype html
html(lang='en')
  include header.pug
  body#index
    include nav.pug
    //- container start –––––––––––––––––––––––––––––––––––

    .container
      .hero
        .outline
          img(src='../img/index/Arrow.svg' width='40px' height='40px')
        .headline
          h2 An Industrial Transformation Catalyst
          h1 Orchestrate Global B2B IoT Ecosystem
      .section_1
        img(src='../img/index/s1.png' width='100%' height='100%' alt='')
        .info
          div
            p A Taiwan-headquartered regional PE firm with a strategic vision to shape Global B2B IoT Ecosystem. Faciliatate portfolio partners for Long-term Sustainability & Total Shareholder Return
            .num
              div
                p AUM
                p.bigger $250m
              div
                p Regional Expand
                p.bigger 3 cities
            img(src='../img/index/s1.png' width='100%' height='100%' alt='')
          .center
            a(href='about_us.html').button More about our team
      .section_2
        p We drive investment value through collaboration with 
          span Growth & Transformation-seeking Enterprises 
          | in IoT Key Domains
        a(href='about_us.html').button See Our Approach Strategy
      .section_3
        h3 Navigate Thriving IoT Domains
        .cards
          .card
            img(src='../img/index/Frame_1.png' width='100%' height='auto')
            .intro
              h4 Ｏ2O Solution
              p Seamlessly merges online and offline experiences for optimal engagement
          .card
            img(src='../img/index/Frame_2.png' width='100%' height='auto')
            .intro
              h4 Smart Factory
              p Optimizes production through automation, data, and real-time monitoring
          .card
            img(src='../img/index/Frame_3.png' width='100%' height='auto')
            .intro
              h4 Logistic and Transportation
              p Enhance efficiency, tracking, and sustainability in transit
          .card
            img(src='../img/index/Frame_4.png' width='100%' height='auto')
            .intro
              h4 Smart City
              p Empower Efficient, sustainable, and connected urban living
          .card
            img(src='../img/index/Frame_5.png' width='100%' height='auto')
            .intro
              h4 Health Care
              p Fostering a smarter and more personalized approach to well-being.
          .card
            img(src='../img/index/Frame_6.png' width='100%' height='auto')
            .intro
              h4 Green Energy
              p Promising opportunities in power generation, distribution, and storage.
        .center
          a(href='partners.html').button See Our Partners
      .section_4
        h3 Insights
        .cards
          .card
            h4 This Is The Home That Gives Housing A New Future
            p.text Deal for London business district will meet almost three-quarters of electricity demand from wind power ...
            .label
              p.time June. 20. 2022
              p.tag #News
          .card
            h4 This Is The Home That Gives Housing A New Future
            p.text Deal for London business district will meet almost three-quarters of electricity demand from wind power ...
            .label
              p.time June. 20. 2022
              p.tag #News
          .card
            h4 This Is The Home That Gives Housing A New Future
            p.text Deal for London business district will meet almost three-quarters of electricity demand from wind power ...
            .label
              p.time June. 20. 2022
              p.tag #News
        .center
          a(href='insights.html').button See All Insights

    //- container end ––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    include footer.pug


