nav
	a.nav-left(href='index.html')
		img.logo(src='../img/global/Logo.svg' width='100%' height='auto' alt='')
	ul.nav-right
		li 
			a(href='about_us.html') About us
		li
			a(href='approach.html') Approach
		li 
			a(href='partners.html') Partners
		li 
			a(href='insights.html') Insights
		li 
			a(href='contact.html') Contact
		li.index_only
			ul.lang
				li
					a(href='index.html') Global
				li
					a(href='japanese.html') Japan
	img.nav_burger(src='../img/global/Menu.svg' width='30px' height='auto' alt='')

ul#side-nav
	li 
		a(href='about_us.html') About us
	li
		a(href='approach.html') Approach
	li 
		a(href='partners.html') Partners
	li 
		a(href='insights.html') Insights
	li 
		a(href='contact.html') Contact