.pagination
	ul.page_group.text
		li
			a(href='#').page_back
				img(src='../img/global/arrow_left.png' width='24px' height='24px')
		li
			a(href='insights.html') Back to List
		li
			a(href='#').page_next
				img(src='../img/global/arrow_right.png' width='24px' height='24px')
	