.pagination
	ul.page_group
		li
			a(href='#').page_back
				img(src='../img/global/arrow_left.png' width='24px' height='24px')
		li
			a(href='#') 1
		li
			a(href='#') 2
		li
			a(href='#') 3
		li
			a(href='#') 4
		li
			a(href='#') 5
		li
			a(href='#').page_next
				img(src='../img/global/arrow_right.png' width='24px' height='24px')
	