doctype html
html(lang='en')
  include header.pug
  body
    include nav.pug
    //- container start –––––––––––––––––––––––––––––––––––

    .container
      .hero
        img(src='../img/partners/hero.png' width='auto' height='100%' alt='Hero')
        h1 Ecosystem partners
      .crumb
        a(href='#') Home
        a(href='') Ecosystem partners
      
      .partner_cards
        .card
          img(src='../img/partners/Advantech.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/AInnovation.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Asus.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Kiosk.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Lenovo.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/LiteOn.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Promate.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Portwell.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Posiflex.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Powin.png' width='80%' height='auto' alt='')
        .card
          img(src='../img/partners/Seagull.png' width='80%' height='auto' alt='')

    //- container end ––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    include footer.pug


